worldtime_api/src/main/mule/worldtime_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2580a768-ad79-4db9-8ca2-343f5c9f8922" basePath="/timezone">
		<http:listener-connection host="localhost" port="8088" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="16e721bf-fb46-4e2c-be5c-680d2f3dbd65" basePath="/api/timezone/" >
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="worldtime_apiFlow" doc:id="ae7e37a9-755b-45cc-90e2-181de410bff7" >
		<http:listener doc:name="Listener" doc:id="c309301a-720c-443c-8219-5f83ff5b8f4d" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="5484b75d-68bb-40e3-82a1-c0b76df4e618" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
